<a href="https://colab.research.google.com/github/hygoni/ToyTorch/blob/master/4.CNN/VGG16_Transfer_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from torchvision import transforms, datasets, models
from IPython.display import clear_output
import torch
import torch.optim as optim
import torch.cuda as cuda
import torch.utils.data as datautil
import torch.nn as nn

from PIL import Image
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from google.colab import files
print('upload kaggle.json')
files.upload()
!mkdir /root/.kaggle/
!cp kaggle.json /root/.kaggle/

upload kaggle.json

Saving kaggle.json to kaggle.json
mkdir: cannot create directory ‘/root/.kaggle/’: File exists

In [7]:
!kaggle datasets download -d prasunroy/natural-images
!unzip natural-images.zip
clear_output()
!ls

kaggle.json  natural_images  natural-images.zip  sample_data

In [10]:
!ls natural_images

airplane  car  cat  dog  flower  fruit	motorbike  person

In [0]:
class_ = []
img_class = []
n_images = []
dim = []
dim_images = []
height = []
width = []

for folder in os.listdir('./natural_images'):
    class_.append(folder)
    files = os.listdir('./natural_images/' + folder)
    n_images.append(len(files))
    for file in files:
        img_class.append(folder)
        image = np.array(Image.open('./natural_images/' + folder + '/' + file))
        height.append(image.shape[0])
        width.append(image.shape[1])
        dim_images.append(image.shape[2])
    dim.append(image.shape[2])

In [23]:
df_folder = pd.DataFrame({'class' : class_, 'images' : n_images, 'dim' : dim})
df_folder

       class  images  dim
0     flower     843    3
1        cat     885    3
2  motorbike     788    3
3     person     986    3
4      fruit    1000    3
5        car     968    3
6   airplane     727    3
7        dog     702    3

In [35]:
df_images = pd.DataFrame({'class' : img_class, 'width' : width, 'height' : height, 'dim' : dim_images})
df_images.head()

    class  width  height  dim
0  flower    879     617    3
1  flower    976     639    3
2  flower    483     361    3
3  flower    201     162    3
4  flower    197     188    3

In [36]:
df_images.groupby('class').describe()

            width                                 ...  dim
            count        mean         std    min  ...  25%  50%  75%  max
class                                             ...
airplane    727.0  296.623109   13.250642  224.0  ...  3.0  3.0  3.0  3.0
car         968.0  100.000000    0.000000  100.0  ...  3.0  3.0  3.0  3.0
cat         885.0  315.694915  104.820174   59.0  ...  3.0  3.0  3.0  3.0
dog         702.0  283.857550  104.505232   43.0  ...  3.0  3.0  3.0  3.0
flower      843.0  386.609727  224.930960   51.0  ...  3.0  3.0  3.0  3.0
fruit      1000.0  100.000000    0.000000  100.0  ...  3.0  3.0  3.0  3.0
motorbike   788.0  191.559645    9.987171  124.0  ...  3.0  3.0  3.0  3.0
person      986.0  255.981744    0.330622  250.0  ...  3.0  3.0  3.0  3.0

[8 rows x 24 columns]

In [0]:
image_transforms = {
    'train' : transforms.Compose([
        
        
    ]),    
    'val' : transforms.Compose([
        
        
    ]),
    'test' : transforms.Compose([
        
        
    ])
    
}