In [10]:
import pandas as pd
gender = pd.read_csv('./data/gender_submission.csv')
train = pd.read_csv('./data/train.csv')

In [8]:
display(train.head(3))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [9]:
display(gender.head(3))

   PassengerId  Survived
0          892         0
1          893         1
2          894         0